<?xml version="1.0"?>
<phpunit
		bootstrap="tests/php/bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="schedule-terms">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
